
.idea/.idea.Lab5Trees.dir/.idea/

*.iml

*.xml

*.dll

MapManagement/MapManagement.MapLib/obj/

*.config

MapManagement/MapManagement.ConsoleApp/bin/Debug/net48/

MapManagement/MapManagement.ConsoleApp/obj/Debug/net48/

MapManagement/MapManagement.ConsoleApp/obj/

*.pdb

MapManagement/MapManagement.LocationLib/obj/Debug/net48/

MapManagement/MapManagement.LocationLib/obj/

MapManagement/MapManagement.Tests/bin/Debug/net5.0/

*.user

MapManagement/MapManagement.Tests/obj/
